---
import "../styles/global.css";

const url = new URL(Astro.request.url);
const parentUrl =
  url.pathname === "/"
    ? null
    : (url.pathname.replace(/\/$/, "").split("/").slice(0, -1).join("/") ||
        "") + "/";

const { class: className } = Astro.props;

type Props = {
  class?: string;
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | ARCA</title>
  </head>
  <body class="bg-stone-50 dark:bg-stone-950">
    <header
      class="red flex gap-4 bg-stone-200 p-6 text-stone-600 dark:bg-stone-900 dark:text-stone-100"
    >
      <a class="link" href={parentUrl}>Up</a>
      <a class="link" href="/">Home</a>
      <hr />
    </header>
    <main
      class={`prose p-6 ${className} lg:prose-lg lg:w-9/12 dark:prose-invert
        prose-stone prose-a:text-sky-600 dark:prose-a:text-sky-200`}
    >
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>
