---
import Logo from "../assets/logo.svg";
import "../styles/global.css";

const url = new URL(Astro.request.url);
const parentUrl =
  url.pathname === "/"
    ? null
    : (url.pathname.replace(/\/$/, "").split("/").slice(0, -1).join("/") ||
        "") + "/";

const { class: className } = Astro.props;

type Props = {
  class?: string;
  title: string;
};

const { title } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Chat with Dice</title>
  </head>
  <body class="flex h-full w-full flex-col overflow-hidden">
    <header
      class="navbar bg-base-300 dark:bg-base-900 p-6 text-stone-600
        dark:text-stone-100"
    >
      <div class="navbar-start">
        <a href="/" class="link link-primary link-hover text-xl font-medium"
          ><Logo
            aria-label="Chat with Dice logo"
            aria-description="A d6 showing sixes on all sides, with a tail like a speech bubble"
            width={48}
            height={48}
            class="[&_.dark-part]:fill-[oklch(from_var(--color-neutral)_0.95_c_h)]
              [&_.die-pips]:fill-[oklch(from_var(--color-primary)_0.4_c_h)]
              [&_.light-part]:fill-[oklch(from_var(--color-neutral)_1_c_h)]
              [&_.stroke]:fill-none
              [&_.stroke]:stroke-[oklch(from_var(--color-neutral)_0.7_c_h)]
              [&_.stroke]:stroke-4"
          /></a
        >
      </div>
      <div class="navbar-center">
        <h1 class="font-bold lg:text-4xl">
          {title}
        </h1>
      </div>
      <div class="navbar-end gap-4">
        <a class="link link-hover link-primary" href={parentUrl}>Up</a>
      </div>
      <hr />
    </header>
    <main class={`flex-1 w-full ${className} `}>
      <slot />
    </main>
  </body>
</html>
